.header {
    display: flex;
    justify-content: center;
    align-content: center;
}

.container {
    display: grid;
    width: 480px;
    height: 480px;
    margin: 0 auto;
    margin-top: 2em;
    border: 8px solid rosybrown;
}

.section {
    display: flex;
    justify-content: center;
    align-content: center;
}

.squares {
    border: 1px solid antiquewhite;
    background-color: white;
}

.slider {
    height: 25px;
    width: 200px;
    border: 2px solid rgb(177, 104, 129);
}

.sizeSelect {
    width: 99%;
    height: 100px;
    position: absolute;
    bottom: 0;
}

.centerSlider {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
    height: 100px;
}

.paint {
    background-color: thistle;
}